<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="ozzy">
    <!-- footer -->
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Cybertek – All Rights Reserved:</div>
    </footer>
</div>

<div th:fragment="cybertek">
    <!-- footer -->
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Cybertek – All Rights Reserved:</div>
    </footer>
</div>

</body>
</html>