<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first page</title>
    <!--container for metadata (is not displaying)
    Title, Styles, Link, Scripts, Meta,
-->
</head>
Welcome to Java Developer Course!
<h1>Spring Boot</h1>
<h2>Spring Boot </h2>
<h3>Spring Boot </h3>

<h1 align="canter" style="color:blue">Spring Framework</h1>
<img src="springboot.png" alt="Spring Boot Image">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="amazon.com">Amazon</a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Steam</td>
    </tr>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>
</table>

<br>

<!--Forms-->
<label>User Name:</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="password"><br>
<label>Enter your comments:</label>
<textarea name="comments"></textarea><br>
<br>
<label>Please select your fav subject:</label>
<input type="radio" name="Spring" value="IoC" checked = "checked"><label>IOC</label>
<input type="radio" name="Spring" value="DI" checked = "checked"><label>DI</label>
<input type="radio" name="Spring" value="MVC" checked = "checked"><label>MVC</label>

<br>
<label> Please select your company</label><br>

<input type="checkbox" name="company" value="Bank Of America">BOA
<input type="checkbox" name="company" value="Limited">LTD
<input type="checkbox" name="company" value="SouthWest Airlines">SWE

<br>
<label>Select your cars: </label>
<select name="cars">
    <option value="Honda">Honda</option>
    <option value="Toyota">Toyota</option>
    <option value="Mazda">Mazda</option>
</select>


<form action="#" method="get">
    First name:<input type="text" name="first_name"/>
    <br>
    Last name:<input type="text" name="first_name"/>
</form>

<br>
<div>
    <h3>This is Java Developer Course</h3>
    <ul>
        <li>Spring Framework</li>
        <li>Security</li>
        <li>Unit Testing</li>
    </ul>
</div>
</body>
</html>

