<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Text-->
<h2 th:text="${name}"></h2>
<h3 th:text="${course}"></h3>
<h3 th:text="${subject}"></h3>
<h2 th:text="${id}"></h2>
<h2 th:text="${numbers}"></h2>
<h2 th:text="${numbers.get(0)}"></h2>
<h2 th:text="${birthday}"></h2>
<h2 th:text="${ 'Hello ' + name}"></h2>
<h2 th:text="${student.getFirstName()}"></h2>
<h2 th:text="${student.firstName}"></h2>

<!--Link-->
<a th:href="@{https://cybertekschool.com}">Cybertek</a>
<a th:href="@{/student/register}">Register</a>

<!--Adding parameters to link-->
<a th:href="@{/student/welcome(id=3)}">Link2</a>
<a th:href="@{/student/welcome(id=${student.id})}">Link3</a>

<!--Iteration-->
<ul>
    <li th:each="number : ${numbers}" th:text="${number}" ></li>
</ul>

<!--Fragment-->
<div th:replace="fragments/footer :: ozzy"></div>








</body>
</html>